body{
  background-color: black;
}

.container {
  background-color: #edf1f5;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .col {
  min-height: 300px;
}

.container.play {
  display: none;
}

.container.start h1{
  text-align: center;
  margin: 20px 0;
}

.container.start span {
  font-weight: bold;
}

.container.start .input-group{
  margin: 30px 0;
}

.container.play {
  display: none;
}

.container.play .col{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container.play .col:last-child{
  justify-content: center;
}

.container.play .col:first-child *{
  width: 80%;
}

#input {
  height: 40%;
  font-size: 1.8rem;
  text-align: center;
}

#inputBtn{
  height: 80px;
}



#startBtn {

}
